im2gps/data/pipelines/conf/creds/dev.yaml
**/output/**
**/__pycache__/**
**/.env/**
**/dev-config/**
*.log
dist/**
build/**
config-dev.yaml
config-local.yaml
**/.ipynb_checkpoints/**
.idea/*
im2gps.egg-info
experiments/**/logs/**
experiments/**/runs/**
experiments/**/checkpoints/**
experiments/**/test_results/**